<p id="notice"><%= notice %></p>

<h1>تسجيل حضور</h1>
<br>
<div class="container">
  <div class="row ">
    <div class="col-6 col justify-content-center">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">التاريخ</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @attendings.each do |attending| %>
            <tr>
              <td scope="row"><strong><h5><%= attending.name %></h5></strong></td>
              <td scope="row"><%= link_to 'اختيار', edit_attending_path(attending), class: "btn btn-primary " %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>


      <%= paginate @attendings %>

    </div>
  </div>
</div>



<%# link_to 'New Attending', new_attending_path %>
