<h1>Editing Studnet Memorization</h1>

<%= render 'form', studnet_memorization: @studnet_memorization %>

<%= link_to 'Show', @studnet_memorization %> |
<%= link_to 'Back', studnet_memorizations_path %>
